.carousel__container {
  margin-top: 25px;
  margin-left: 20px;
  margin-right: 20px;
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: 1fr;
  height: 95vh;
  width: calc(100vw - 40px);
}

.carousel__container > div:first-child {
  display: grid;
  grid-template-rows: 75% 20%;
  gap: 10px;
}

.carousel__container > div:first-child > div:first-child {
  place-self: center;
}
.carousel__container > div:first-child > div:last-child {
  place-self: center;
}

.carousel__container > div:last-child {
  overflow: auto;
  display: grid;
  grid-template-rows: 75% 20%;
  gap: 10px;
}

.carousel__container span {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1390px) {
  .carousel__container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  .carousel__container > div:first-child,
  .carousel__container > div:last-child {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    /* add the following to make sure all contents are centered */
    justify-content: center;
    align-items: center;
  }
}
